.casesTable {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.casesTable tr {
  display: flex;
  justify-content: space-between;
}

.casesTable td {
  padding: 0.5rem;
}

.casesTable tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
